*
!.gitignore
!docker/
!docker-compose.yml
!example.env
!wp-content/
!wp-content/plugins/
!wp-content/plugins/3dweb-print-studio/
!wp-content/plugins/3dweb-print-studio/**
!.github/
!.github/**
!plugin-assets/
!plugin-assets/**
.env